/* ********** Common CSS: Start ********** */

html {
	position: relative;
	min-height: 100%;
}
html {
	-webkit-font-smoothing: antialiased;
}
* {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
body {
	font-size: 16px;
	color: var(--primary-black);
    font-style: normal;
    background-color: var(--primary-white);
	margin: 0;
	padding: 0;
}
li, ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
a, a img {
	text-decoration: none;
	border: 0;
	outline: none !important;
}
a, 
button, 
input[type=submit], 
.input-text {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
}
a:hover, 
a:focus {
	text-decoration: none;
	outline: none;
}
input, textarea {
	outline: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea {
    resize: none;
}
input[type=text]::-moz-placeholder, 
input[type=search]::-moz-placeholder, 
.input-text::-moz-placeholder, 
.input_text::-moz-placeholder {
    color: inherit;
    opacity: 1;
}
input[type=text]::-webkit-input-placeholder, 
input[type=search]::-webkit-input-placeholder, 
.input-text::-webkit-input-placeholder, 
.input_text::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}
input[type=text]::-ms-placeholder, 
input[type=search]::-ms-placeholder, 
.input-text::-ms-placeholder, 
.input_text::-ms-placeholder {
    color: inherit;
    opacity: 1;
}
input[type=email]::-moz-placeholder {
    color: inherit;
    opacity: 1;
}
input[type=email]::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}
input[type=email]::-ms-placeholder {
    color: inherit;
    opacity: 1;
}
textarea::-moz-placeholder {
    color: inherit;
    opacity: 1;
}
textarea::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}
textarea::-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}
body.open-nav { 
    overflow: hidden; 
}
.main_wapper { 
    overflow: hidden; 
    min-height: 100%; 
    position: relative; 
	padding: 168px 0 0 0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
	margin: 0;
	padding: 0;
}

:root {

	--primary-white: #FFFFFF;
	--primary-black: #000000;
	--text-gray: #757575;
	--dark-orange-background: #D76300;
	--light-white-background: #F9F9F9;
	--light-yellow-background: #FACF68;
	--light-blue-bg: #E8F6FF;
	--orange-bg-light: #F5ECE3;
	--light-blue-white-bg: #EFF2F3;
	--light-border-color: #E2E2E2;
	--light-bg-color: #F2F2F2;
	--blue-footer-bg: #006FB5;
	--copy-text-color: #FFCE42;
	--heading-text-color: #0A314A;
	--box-shadow: 0px 0px 30px 0px #0000000D;

	--light-orange-background: #EE7005;
	--light-orange-text: #EE7005;
	--light-orange-btn-border-color: #EE7005;

	--text-black: #222222;
	--svg-bg-black: #222222;
	--light-bg-black: #222222;

	--light-pink-bg: #E83F70;
	--light-pink-border: #E83F70;
	--light-pink-text: #E83F70;
}

/*============ Container CSS Code: Start ============*/

.container { padding: 0 22px; }

@media (min-width: 375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 770px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
		max-width: 1024px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 100%;
		max-width: 1280px;
	}
}
@media (min-width: 1300px) {
	.container {
		width: 100%;
		max-width: 1366px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 100%;
		max-width: 1440px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 100%;
		max-width: 1716px;
	}
}

/*============ Container CSS Code: End ============*/

/* ********** Common CSS: End ********** */

.header { position: fixed; top: 0; left: 0; z-index: 1111; width: 100%; transition: all ease-in-out 0.4s; }
.top_header { background-color: var(--primary-white); padding: 24px 0; transition: all ease-in-out 0.4s; }
.top_header .top_inner_header { max-width: 1672px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; }
.top_header .top_inner_header .logo_block { display: block; position: relative; }
.top_header .top_inner_header .logo_block a { display: flex; max-width: 176px; }
.top_header .top_inner_header .logo_block a img { width: 100%; height: auto; }
.top_header .top_inner_header .right_block { display: flex; align-items: center; }
.top_header .top_inner_header .right_block .search_box { display: block; width: 100%; position: relative; }
.top_header .top_inner_header .right_block .search_box .search_icon { position: absolute; left: 16px; top: 14px; display: block; }
.top_header .top_inner_header .right_block .search_box .search_icon i { display: flex; height: 24px; width: 24px; background-image: url(../images/search-icon.svg); background-size: cover; background-repeat: no-repeat; background-position: center center; font-size: 0; }
.top_header .top_inner_header .right_block .search_box .search_text { position: relative; border: 1px solid var(--light-border-color); height: 52px; border-radius: 50px; padding: 0 16px 4px 50px; font-weight: 600; font-size: 16px; line-height: 1.5; color: var(--text-gray); min-width: 600px; background: transparent; }
.top_header .top_inner_header .right_block .social_box { display: block; position: relative; margin-left: 32px; }
.top_header .top_inner_header .right_block .social_box ul { display: flex; align-items: center; }
.top_header .top_inner_header .right_block .social_box ul li { display: block; position: relative; }
.top_header .top_inner_header .right_block .social_box ul li + li { margin-left: 10px; }
.top_header .top_inner_header .right_block .social_box ul .icon a { display: flex; height: 24px; width: 24px; transition: all 0.4s ease-in-out; }
.top_header .top_inner_header .right_block .social_box ul .icon a img { width: 100%; height: auto; }
.top_header .top_inner_header .right_block .social_box ul li a:hover { opacity: 0.7; }
.top_header .top_inner_header .right_block .social_box ul .text a { display: flex; font-family: 'Manrope'; font-weight: 600; font-size: 16px; line-height: 1.5; color: var(--text-black); transition: all 0.4s ease-in-out; }
.bottom_header { background-color: var(--light-orange-background); }
.bottom_header .bottom_inner_header { max-width: 1672px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; }
.bottom_header .bottom_inner_header .categoires { display: block; position: relative; }
.bottom_header .bottom_inner_header .categoires .nice-select { position: relative; background-color: var(--dark-orange-background); border-radius: 0; border: none; height: auto; line-height: normal; padding: 18px 50px; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.bottom_header .bottom_inner_header .categoires .nice-select::after { border: none; margin-top: -1px; height: 6px; width: 10px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; right: 18px; background-image: url(../images/white-down-arrow.svg); background-size: cover; background-repeat: no-repeat; background-position: center center; transform: rotate(0) translate(0, -28%); transform-origin: center center; }
.bottom_header .bottom_inner_header .categoires .nice-select.open:after { -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-180deg); }
.bottom_header .bottom_inner_header .categoires .nice-select::before { content: ""; position: absolute; height: 24px; width: 24px; top: 50%; left: 18px; background-image: url(../images/white-three-line.svg); background-size: cover; background-repeat: no-repeat; background-position: center center; transform: translate(0, -50%); }
.bottom_header .bottom_inner_header .categoires .nice-select .current { display: flex; font-family: 'Manrope'; font-weight: 600; font-size: 18px; line-height: 1.34; color: var(--primary-white); }
.bottom_header .bottom_inner_header .categoires .nice-select .list { background-color: var(--primary-white); border-radius: 10px; box-shadow: var(--box-shadow); }
.bottom_header .bottom_inner_header .categoires .nice-select .list .option { color: var(--primary-black); font-size: 16px; font-family: 'Manrope'; font-weight: 400; line-height: 1.22; min-height: auto; padding: 14px 50px; -webkit-transition: all 0.4s; transition: all 0.4s; }
.bottom_header .bottom_inner_header .categoires .nice-select .list .option.selected { font-weight: 600; }
.bottom_header .bottom_inner_header .categoires .nice-select .option:hover, 
.bottom_header .bottom_inner_header .categoires .nice-select .option.focus, 
.bottom_header .bottom_inner_header .categoires .nice-select .option.selected.focus { background-color: var(--light-white-background); }
.bottom_header .bottom_inner_header .navigation { position: relative; display: block; }
.bottom_header .bottom_inner_header .navigation ul { display: flex; align-items: center; }
.bottom_header .bottom_inner_header .navigation ul li { display: block; position: relative; }
.bottom_header .bottom_inner_header .navigation ul li + li { margin-left: 32px; }
.bottom_header .bottom_inner_header .navigation ul li a { display: flex; font-family: 'Manrope'; font-weight: 600; font-size: 18px; line-height: 1.33; color: var(--primary-white); transition: all 0.4s ease-in-out; }
.bottom_header .bottom_inner_header .navigation ul li a:hover { color: var(--text-black); }


/* mobile menu */
.header .menu-btn { position: relative; display: none; align-items: center; justify-content: flex-end; position: relative; }
.header .toggle-btn { position: relative; display: flex; width: 26px; height: 20px; align-items: center; justify-content: center; }
.header .toggle-btn span { width: 100%; height: 2px; background-color: var(--light-bg-black); position: relative; display: block; }
.header .toggle-btn span::before { -webkit-transition-property: top , transform; transition-property: top , transform; }
.header .toggle-btn span::after { -webkit-transition-property: bottom , transform; transition-property: bottom , transform; }
.header .toggle-btn span::after,
.header .toggle-btn span::before { -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .3s, 0s; transition-delay: .3s, 0s; }
.header .toggle-btn span::before { content: ''; width: 100%; height: 2px; position: absolute; left: 0; right: 0; top: -9px; background: var(--light-bg-black); }
.header .toggle-btn span::after { content: ''; width: 100%; height: 2px; position: absolute; left: 0; right: 0; bottom: -9px; background: var(--light-bg-black); }
.header .toggle-btn.active span { background: none; }
/* .header.fixed .toggle-btn.active span { background: none; } */
.header .toggle-btn.active span::after { bottom: 0; transform: rotate(45deg); }
.header .toggle-btn.active span::before { top: 0; transform: rotate(-45deg); }
.header .toggle-btn.active span::after,
.header .toggle-btn.active span::before { -webkit-transition-delay: 0s, .3s; transition-delay: 0s, .3s; }
/* .header.fixed .toggle-btn span,
.header.fixed .toggle-btn span:after,
.header.fixed .toggle-btn span:before { background: var(--light-bg-black); } */
/* mobile menu */


.banner { position: relative; display: block; }
.home_banner_img { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; display: flex; padding: 43.09% 0 0 0; }
.home_banner_img img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; display: none; }


.bestseller_section { display: block; position: relative; padding: 96px 0; background-color: var(--light-white-background); }
.section_title { margin-bottom: 64px; display: block; text-align: center; }
.section_title h2 { font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.10; color: var(--text-black); }
.listing_wrapper { display: block; position: relative; }
.listing_wrapper .row { margin: 0 -22px; row-gap: 44px; }
.listing_wrapper .row>* { padding: 0 22px; }
.listing_wrapper .item_box { display: flex; flex-direction: column; transition: all 0.4s ease-in-out; background-color: var(--primary-white); padding: 32px; height: 100%; justify-content: space-between; }
.listing_wrapper .item_box:hover { box-shadow: var(--box-shadow); }
.listing_wrapper .item_box .image { position: relative; width: 100%; display: flex; padding: 91.75% 0 0 0; }
.listing_wrapper .item_box .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.listing_wrapper .item_box .text { font-family: 'Manrope'; font-weight: 700; font-size: 24px; line-height: 1.58; color: var(--text-black); margin: 24px 0; }
.listing_wrapper .item_box .primary_btn { display: flex; justify-content: center; align-items: center; padding: 0 10px; height: 58px; border: 2px solid var(--light-orange-btn-border-color); font-family: 'Manrope'; font-weight: 700; font-size: 24px; line-height: 1.58; color: var(--light-orange-text); transition: all 0.4s ease-in-out; margin-top: auto; }
.listing_wrapper .item_box:hover .primary_btn { background-color: var(--light-orange-background); color: var(--primary-white); }


.product_section { display: flex; justify-content: center; position: relative; }
/* align-items: stretch; min-height: 640px; */
.product_section .best_section { width: 50%; padding: 44px 0 0 0; position: relative; display: flex; flex-direction: column; }
.product_section .best_section::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/sunset-cityscape.webp); background-size: cover; background-position: center center; background-repeat: no-repeat; }
.product_section .best_section::after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: var(--light-bg-black); opacity: 0.8; }
.product_section .best_section .content { position: relative; z-index: 1; }
.product_section .best_section .content .title_wrap { margin: 0 20px 0 96px; display: block; }
.product_section .best_section .content .title_wrap h3 { font-family: 'Oswald'; font-weight: 400; font-size: 84px; line-height: 1.48; color: var(--light-orange-text); }
.product_section .best_section .content .title_wrap span { display: flex; font-family: 'Milky Honey'; font-weight: 400; font-size: 104px; line-height: 1.10; color: var(--primary-white); }
.product_section .best_section .content .image_wrap { position: relative; width: 100%; display: flex; padding: 43.511% 0 0 0; max-width: 664px; margin: -56px 0 0 auto; }
.product_section .best_section .content .image_wrap img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.product_section .customer_section { width: 50%; padding: 44px 0 0 0; position: relative; display: flex; flex-direction: column; }
.product_section .customer_section::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/sunset-cityscape.webp); background-size: cover; background-position: center center; background-repeat: no-repeat; }
.product_section .customer_section::after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: var(--light-bg-black); opacity: 0.8; }
.product_section .customer_section .content { position: relative; z-index: 1; }
.product_section .customer_section .content .title_wrap { margin: 0 20px 0 96px; display: block; }
.product_section .customer_section .content .title_wrap h3 { font-family: 'Oswald'; font-weight: 400; font-size: 84px; line-height: 1.48; color: var(--light-orange-text); }
.product_section .customer_section .content .title_wrap span { display: flex; font-family: 'Milky Honey'; font-weight: 400; font-size: 104px; line-height: 1.10; color: var(--primary-white); }
.product_section .customer_section .content .image_wrap { position: relative; width: 100%; display: flex; padding: 43.511% 0 0 0; max-width: 571px; margin: -56px 0 0 auto; }
.product_section .customer_section .content .image_wrap img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }


.about_section { background-color: var(--primary-white); padding: 136px 0 316px 0; position: relative; }
.about_section .first_wheel { display: flex; max-width: 250px; position: absolute; left: 0;  top: 88px; }
.about_section .first_wheel img { width: 100%; height: auto; }
.about_section .second_wheel { display: flex; max-width: 575px; position: absolute; right: 0; bottom: 64px; }
.about_section .second_wheel img { width: 100%; height: auto; }
.about_wrapper { max-width: 1646px; margin: 0 auto; display: flex; justify-content: space-between; gap: 20px; }
.about_wrapper .left_part { width: calc(100% - 828px - 20px); display: block; position: relative; }
.about_wrapper .left_part .about_first_img { background-color: var(--light-blue-bg); padding: 20px; max-width: 525px; margin-left: auto; position: relative; right: 14%; transform: rotate(7deg); z-index: 1; }
.about_wrapper .left_part .about_first_img .first_image { position: relative; width: 100%; display: flex; padding: 90.31% 0 0 0; }
.about_wrapper .left_part .about_first_img .first_image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.about_wrapper .left_part .about_second_img { background-color: var(--orange-bg-light); padding: 52px 24px; max-width: 710px; left: 16px; top: 80px; position: relative; transform: rotate(-15deg); z-index: 2; }
.about_wrapper .left_part .about_second_img .second_image { position: relative; width: 100%; display: flex; padding: 67.372% 0 0 0; }
.about_wrapper .left_part .about_second_img .second_image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.about_wrapper .left_part .about_third_img { background-color: var(--light-blue-bg); padding: 20px; max-width: 560px; margin-left: auto; position: absolute; right: -55%; bottom: -18%; transform: rotate(7deg); z-index: 3; }
.about_wrapper .left_part .about_third_img .third_image { position: relative; display: flex; max-width: 456px; }
.about_wrapper .left_part .about_third_img .third_image img { width: 100%; height: auto; object-fit: cover; }
.about_wrapper .left_part .dash_first_image { display: flex; max-width: 147px; position: absolute; left: 68px; top: 26%; }
.about_wrapper .left_part .dash_first_image img { width: 100%; height: auto; }
.about_wrapper .left_part .dash_second_image { display: flex; max-width: 452px; position: absolute; right: -30px; bottom: -15%; }
.about_wrapper .left_part .dash_second_image img { width: 100%; height: auto; }
.about_wrapper .right_part { max-width: 828px; display: block; position: relative; padding: 40px 0 0 0; }
.about_wrapper .right_part h2 { font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.10; color: var(--text-black); }
.about_wrapper .right_part h2 i { display: inline-flex; text-transform: uppercase; }
.about_wrapper .right_part p { font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.75; color: var(--text-gray); margin-top: 32px; }
.about_wrapper .right_part .about_info { margin-top: 32px; display: block; position: relative; }
.about_wrapper .right_part .about_info ul { display: flex; align-items: center; position: relative; }
.about_wrapper .right_part .about_info ul + ul { margin-top: 32px; }
.about_wrapper .right_part .about_info ul li { font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.75; color: var(--text-gray); position: relative; padding-left: 40px; }
.about_wrapper .right_part .about_info ul li::before { content: ""; position: absolute; left: 0; top: 7px; width: 28px; height: 28px; background: url(../images/check-icon.svg) no-repeat center center; background-size: contain; }
.about_wrapper .right_part .about_info ul li + li { margin-left: 64px; }
.about_wrapper .right_part .btnlink { display: flex; margin-top: 64px; }
.about_wrapper .right_part .btnlink a { display: flex; justify-content: center; align-items: center; height: 58px; padding: 0 24px; background-color: var(--light-orange-background); font-family: 'Manrope'; font-weight: 700; font-size: 24px; line-height: 1.58; color: var(--primary-white); border: 1px solid var(--light-orange-btn-border-color); transition: all 0.4s ease-in-out; }
.about_wrapper .right_part .btnlink a:hover { background-color: transparent; color: var(--light-orange-text); }


.newarrival_section { display: block; position: relative; padding: 96px 0; background-color: var(--light-white-background); }


.drive_section { display: flex; justify-content: center; align-items: flex-start; position: relative; background-color: var(--light-yellow-background); }
.drive_section::before { content: ''; position: absolute; right: 0; top: 0; height: 100%; width: 50%; z-index: 1; background-color: var(--light-blue-white-bg); }
.drive_section .drive_like { width: 50%; padding: 44px 0 20px 0; }
.drive_section .drive_like .content { max-width: 686px; margin: 0 auto; text-align: center; }
.drive_section .drive_like .content .title_wrap { display: block; position: relative; text-align: center; }
.drive_section .drive_like .content .title_wrap h3 { font-family: 'Oswald'; font-weight: 400; font-size: 84px; line-height: 1.48; color: var(--primary-black); }
.drive_section .drive_like .content .title_wrap span { display: flex; justify-content: center; font-family: 'Milky Honey'; font-weight: 400; font-size: 104px; line-height: 1.10; color: var(--primary-black); }
.drive_section .drive_like .content .image_wrap { position: relative; width: 100%; display: flex; padding: 61.808% 0 0 0; max-width: 604px; margin: -50px auto 0 auto; }
.drive_section .drive_like .content .image_wrap img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.drive_section .drive_luxury { width: 50%; padding: 44px 0 20px 0; z-index: 2; }
.drive_section .drive_luxury .content { max-width: 606px; margin: 0 auto; text-align: center; }
.drive_section .drive_luxury .content .title_wrap { display: block; position: relative; text-align: center; }
.drive_section .drive_luxury .content .title_wrap h3 { font-family: 'Oswald'; font-weight: 400; font-size: 84px; line-height: 1.48; color: var(--primary-black); }
.drive_section .drive_luxury .content .title_wrap span { display: flex; justify-content: center; font-family: 'Milky Honey'; font-weight: 400; font-size: 104px; line-height: 1.10; color: var(--primary-black); }
.drive_section .drive_luxury .content .image_wrap { position: relative; width: 100%; display: flex; padding: 66.502% 0 0 0; max-width: 554px; margin: -30px auto 0 auto; }
.drive_section .drive_luxury .content .image_wrap img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }


.gallery_section { display: block; position: relative; padding: 96px 0; background-color: var(--primary-white); }
.gallery_wrapper { max-width: 1696px; margin: 0 auto 96px auto; padding: 0 12px; }
.gallery_rowwrap { display: block; position: relative; }
.gallery_rowwrap .row { margin: 0 -12px; row-gap: 24px; }
.gallery_rowwrap .row>* { padding: 0 12px; }
.gallery_rowwrap .left_block,
.gallery_rowwrap .right_block { display: flex; flex-direction: column; row-gap: 24px; }
.gallery_rowwrap .left_block .first_img,
.gallery_rowwrap .left_block .second_img, 
.gallery_rowwrap .right_block .first_img,
.gallery_rowwrap .right_block .second_img { position: relative; width: 100%; display: flex; padding: 100% 0 0 0; }
.gallery_rowwrap .left_block .first_img img,
.gallery_rowwrap .left_block .second_img img,
.gallery_rowwrap .right_block .first_img img,
.gallery_rowwrap .right_block .second_img img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.gallery_rowwrap .center_block { position: relative; width: 100%; display: flex; padding: 100% 0 0 0; }
.gallery_rowwrap .center_block img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.follow_us_wrapper { max-width: 1552px; margin: 0 auto; position: relative; }
.follow_us_wrapper .top_follow_box { position: relative; display: flex; justify-content: center; margin-bottom: 64px; }
.follow_us_wrapper .top_follow_box::before { content: ""; position: absolute; top: 50%; left: 0; width: 100%; border-top: 1px solid var(--light-border-color); }
.follow_us_wrapper .top_follow_box .follow { display: flex; justify-content: center; align-items: center; background-color: var(--light-orange-background); height: 66px; padding: 0 44px; font-family: 'Manrope'; font-weight: 700; font-size: 24px; line-height: 1.58; color: var(--primary-white); z-index: 1; clip-path: polygon(0% 100%, 23px 0%, 100% 0%, calc(100% - 23px) 100%); }
.follow_us_wrapper .bottom_follow_box { position: relative; max-width: 924px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; }
.follow_us_wrapper .bottom_follow_box .follow_wrap { max-width: 240px; text-align: center; }
.follow_us_wrapper .bottom_follow_box .follow_wrap .icon { display: flex; justify-content: center; max-width: 74px; margin: 0 auto; transition: all 0.4s ease-in-out; }
.follow_us_wrapper .bottom_follow_box .follow_wrap .icon:hover { filter: grayscale(1); }
.follow_us_wrapper .bottom_follow_box .follow_wrap .icon img { width: auto; height: auto; }
.follow_us_wrapper .bottom_follow_box .follow_wrap .followers { display: flex; justify-content: center; font-family: 'Oswald'; font-weight: 400; font-size: 32px; line-height: 1.5; color: var(--primary-black); margin-top: 16px; }
.follow_us_wrapper .bottom_follow_box .follow_wrap .text { font-family: 'Manrope'; font-weight: 600; font-size: 20px; line-height: 1.366; color: var(--primary-black); margin-top: 8px; }
.follow_us_wrapper .bottom_follow_box .follow_wrap + .follow_wrap { position: relative; }
.follow_us_wrapper .bottom_follow_box .follow_wrap + .follow_wrap::after { content: ""; position: absolute; left: -28%; top: 50%; transform: translate(0, -50%); border-left: 1px solid var(--light-border-color); height: 80px; }


.customer_review { position: relative; width: 100%; padding: 96px 0; background-color: var(--light-white-background); }
.customer_review .container { max-width: 1744px; }
.content_wrap { position: relative; width: 100%; display: flex; align-items: center; }
.content_wrap .text_wrap { position: relative; margin: 0 96px 0 0; min-width: 560px; z-index: 3; }
.content_wrap .text_wrap h2 { font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.20; color: var(--text-black); }
.content_wrap .text_wrap p { font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.75; color: var(--text-gray); margin-top: 24px; }
.content_wrap .text_wrap .review_swiper_arrows { display: flex; align-items: center; gap: 32px; margin-top: 64px; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev { display: flex; align-items: center; justify-content: center; height: 54px; width: 54px; background-color: var(--light-bg-color); border-radius: 50%; transition: all 0.4s ease-in-out; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev:hover { background-color: var(--light-orange-background); }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev i { display: flex; font-size: 0; height: 26px; width: 26px; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev i svg { width: 100%; height: auto; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev i svg path { transition: all 0.3s ease-in-out; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-prev:hover i svg path { stroke: var(--primary-white); }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next { display: flex; align-items: center; justify-content: center; height: 54px; width: 54px; background-color: var(--light-bg-color); border-radius: 50%; transition: all 0.4s ease-in-out; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next:hover { background-color: var(--light-orange-background); }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next i { display: flex; font-size: 0; height: 26px; width: 26px; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next i svg { width: 100%; height: auto; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next i svg path { transition: all 0.3s ease-in-out; }
.content_wrap .text_wrap .review_swiper_arrows .swiper-btn-next:hover i svg path { stroke: var(--primary-white); }
.content_wrap .slider_wrap { position: relative; width: calc(100% - 560px - 96px); }
.review_slider:after { content: ''; position: absolute; top: -2px; bottom: -2px; width: 100vw; right: 100%; z-index: 2; background-color: var(--light-white-background); }
.content_wrap .slider_wrap .slider_container { position: relative; width: 100%; }
.review_slider { width: 100%; overflow: visible !important; z-index: 2; position: relative; }
.review_slider .swiper-slide { width: 500px; }
.review_slider .review_card { position: relative; background-color: var(--primary-white); padding: 20px; width: 500px; }
.review_slider .review_card .image { position: relative; width: 100%; display: flex; padding: 73.915% 0 0 0; }
.review_slider .review_card .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.review_slider .review_card .person_profile { margin-top: 16px; display: flex; position: relative; width: 100%; }
.review_slider .review_card .person_profile .img_wrap { display: flex; height: 67px; width: 67px; border-radius: 50%; overflow: hidden; }
.review_slider .review_card .person_profile .img_wrap img { width: 100%; height: auto; }
.review_slider .review_card .person_profile .profile { display: block; position: relative; margin-left: 12px; }
.review_slider .review_card .person_profile .profile .name { display: flex; font-family: 'Manrope'; font-weight: 600; font-size: 24px; line-height: 1.37; color: var(--text-black); }
.review_slider .review_card .person_profile .profile .date { font-family: 'Manrope'; font-weight: 400; font-size: 20px; line-height: 1.366; color: var(--text-gray); margin-top: 8px; }
.review_slider .review_card .review_content { font-family: 'Manrope'; font-weight: 500; font-size: 20px; line-height: 1.8; color: var(--text-black); margin-top: 12px; }


.footer { display: block; position: relative; padding: 96px 0 32px 0; background-color: var(--blue-footer-bg); }
.footer .container { max-width: 1716px; }
.footer_wrapper { display: flex; justify-content: space-between; gap: 20px; align-items: flex-start; }
.footer_wrapper .left_part { width: calc(100% - 64.534% - 20px); display: flex; }
.footer_wrapper .left_part .logo_block { display: flex; max-width: 235px; }
.footer_wrapper .left_part .logo_block a { display: flex; }
.footer_wrapper .left_part .logo_block img { width: 100%; height: auto; }
.footer_wrapper .right_part { width: 64.534%; display: flex; flex-direction: column; }
.footer_wrapper .right_part .top_wrap { display: flex; justify-content: space-between; margin-bottom: 220px; }
.footer_wrapper .right_part .top_wrap .link_wrap { max-width: 423px; display: block; }
.footer_wrapper .right_part .top_wrap .link_wrap .title { font-family: 'Milky Honey'; font-weight: 400; font-size: 34px; line-height: 1.10; color: var(--primary-white); font-style: normal; }
.footer_wrapper .right_part .top_wrap .link_wrap ul { display: block; margin-top: 24px; }
.footer_wrapper .right_part .top_wrap .link_wrap ul li { display: flex; font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.55; color: var(--primary-white); }
.footer_wrapper .right_part .top_wrap .link_wrap ul li .link { display: flex; font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.55; color: var(--primary-white); transition: all 0.4s ease-in-out; }
.footer_wrapper .right_part .top_wrap .link_wrap ul li .link:hover { color: var(--text-black); }
.footer_wrapper .right_part .top_wrap .link_wrap ul li + li { margin-top: 36px; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li + li { margin-top: 24px; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .link { line-height: 1.58; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .link i { display: flex; height: 38px; width: 38px; font-size: 0; margin-right: 16px; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .link i svg { width: 100%; height: auto; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .link i svg path { transition: all 0.4s ease-in-out; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .link:hover i svg path { fill: var(--svg-bg-black); }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .location_text i { min-width: 38px; }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .location_text:hover { color: var(--primary-white); }
.footer_wrapper .right_part .top_wrap .contact_wrap ul li .location_text:hover i svg path { fill: var(--primary-white); }
.footer_wrapper .right_part .bottom_wrap { padding-top: 32px; border-top: 1px solid var(--light-border-color); display: flex; justify-content: space-between; align-items: center; gap: 20px; }
.footer_wrapper .right_part .bottom_wrap .left_wrap { display: block; position: relative; }
.footer_wrapper .right_part .bottom_wrap .left_wrap p { font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.33; color: var(--primary-white); }
.footer_wrapper .right_part .bottom_wrap .left_wrap p i { display: inline-flex; font-style: normal; font-weight: 700; color: var(--copy-text-color); }
.footer_wrapper .right_part .bottom_wrap .social_box { display: block; position: relative; }
.footer_wrapper .right_part .bottom_wrap .social_box ul { display: flex; align-items: center; }
.footer_wrapper .right_part .bottom_wrap .social_box ul li { display: block; position: relative; }
.footer_wrapper .right_part .bottom_wrap .social_box ul li + li { margin-left: 16px; }
.footer_wrapper .right_part .bottom_wrap .social_box ul .icon a { display: flex; height: 38px; width: 38px; transition: all 0.4s ease-in-out; }
.footer_wrapper .right_part .bottom_wrap .social_box ul .icon a img { width: 100%; height: auto; }
.footer_wrapper .right_part .bottom_wrap .social_box ul li a:hover { opacity: 0.7; }
.footer_wrapper .right_part .bottom_wrap .social_box ul .text a { display: flex; font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.58; color: var(--primary-white); transition: all 0.4s ease-in-out; }
.footer .ftr_car_image { position: absolute; left: 0; bottom: 0; display: block; }




/* ======product====== */
.bestseller_section.productpage {background-color: rgba(255, 255, 255, 1);}
.bestseller_section.productpage .product_list {display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 64px; align-items: center;}
.bestseller_section.productpage .product_list .section_title {margin-bottom: 0;}
.bestseller_section.productpage .product_list .filter_wrap {display: flex;}
.bestseller_section.productpage .product_list .filter_wrap .filterbox + .filterbox {margin-left: 24px;}
.bestseller_section.productpage .product_list .filter_wrap .filterbox .nice-select {font-size: 18px; height: 60px; display: flex; justify-content: flex-start; align-items: center; min-width: 200px;}
.bestseller_section.productpage .product_list .filter_wrap .filterbox .nice-select .list .option {min-width: 200px;}
.bestseller_section.productpage .listing_wrapper .item_box {background: rgba(249, 249, 249, 1);}
.pagination_wrap {margin-top: 64px;}
.pagination_wrap .pri_next {display: flex; justify-content: center; align-items: center;}
.pagination_wrap .pri_next .btnb { display: flex;}
.pagination_wrap .pri_next .btnb + .btnb{margin-left: 24px;}
.pagination_wrap .pri_next .btnb .primary_btn {display: flex; justify-content: center; align-items: center; height: 58px; padding: 0 24px; font-family: 'Manrope'; font-weight: 400; font-size: 24px; line-height: 1.58; color: rgba(117, 117, 117, 1); border: 1px solid rgba(229, 229, 229, 1); transition: all 0.4s ease-in-out;
gap: 18px;}
.pagination_wrap .pri_next .btnb .primary_btn:hover{background-color: var(--light-orange-text);border-color: var(--light-orange-background); color: #FFFFFF;}
.pro_detail_main {margin: 64px 0 96px;}
.pro_detail_main .forward_grp {display: flex; justify-content: space-between; align-items: center; margin-bottom: 64px;}
.pro_detail_main .forward_grp .forward_link {position: relative;}
.pro_detail_main .forward_grp .forward_link ul {display: flex; }
.pro_detail_main .forward_grp .forward_link ul li {position: relative; }
.pro_detail_main .forward_grp .forward_link ul li.active a{color: #222222; font-weight: 600;}
.pro_detail_main .forward_grp .forward_link ul li:not(:last-child){margin-right: 72px;}
.pro_detail_main .forward_grp .forward_link ul li::after{position: absolute; content: ''; background-image: url(../images/rightstroke.svg); width: 13px; height: 13px; display: inline-block; background-repeat: no-repeat; top: 13px; right: -43px;}
.pro_detail_main .forward_grp .forward_link ul li:last-child:after{display: none;}

.pro_detail_main .forward_grp .forward_link ul li a {font-size: 24px; font-weight: 400; font-family: 'Manrope'; color: #757575;}
.pro_detail_main .forward_grp .share_link {display: flex; align-items: center;}
.pro_detail_main .forward_grp .share_link a {font-size: 24px; color: #222222; font-weight: 600; font-family: 'Manrope';display: flex;align-items: center;line-height: 38px;}
.pro_detail_main .forward_grp .share_link a span {display: block; margin-left: 10px;}
.pro_detail_main .forward_grp .share_link a i {display: flex; align-items: center; justify-content: center; }

.discription_wrap {margin: 96px 0;}
.discription_wrap .dis_detail {border-bottom: 1px solid #E2E2E2; padding-bottom: 32px;}
.discription_wrap .dis_detail h2 {font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.10; color: var(--text-black); padding: 0 0 44px;}
.discription_wrap .dis_detail h6 {font-size: 32px; font-weight: 700; font-family: 'Manrope'; color: #222222; padding: 0 0 32px;}
.discription_wrap .dis_detail p {font-size: 24px; line-height: 38px; color: #757575; font-family: 'Manrope';}
.discription_wrap .dis_detail p + p{margin-top: 32px;}

.future_wrap {margin-top: 32px;}
.future_wrap p {font-size: 24px; line-height: 64px; color: #757575;font-family: 'Manrope';}
.future_wrap ul {margin: 0; padding: 0;}
.future_wrap ul li {font-size: 24px; color: #757575;font-family: 'Manrope'; font-weight: 500; line-height: 64px; position: relative; display: block; padding-left: 20px;}
.future_wrap ul li::before{position: absolute; content: ''; width: 7px; height: 7px; border-radius: 50%; background-color: #222222; left: 0; top: 30px;}
.future_wrap ul li span {color: #222222; font-weight: 700;}

.img_banner_sec {position: relative;}
.img_banner_sec .img_banner {width: 100%;}
.img_banner_sec .img_banner img {display: flex; width: 100%;}
.productdetailpage {background: var(--primary-white);}
.productdetailpage .listing_wrapper .item_box {background-color: var(--light-white-background);}
.productdetailpage .listing_wrapper .item_box p {border-bottom: 1px solid #E2E2E2; padding-bottom: 24px;}
.productpage .listing_wrapper .item_box p {border-bottom: 1px solid #E2E2E2; padding-bottom: 24px;}

.releted_swiper {overflow: hidden;}
.releted_swiper .product_slider .item_box .image {padding: 89.823% 0 0 0;}
.pro_slider {position: relative;}
.pswiper-btn-prev,
.pswiper-btn-next {border: 1px solid #F5ECE3; display: flex; width: 60px; height: 60px; align-items: center; justify-content: center; background-color: var(--primary-white); }
.pswiper-btn-prev {position: absolute; top: 50%; transform: translate(50%, -50%); z-index: 111; left: -60px;}
.pswiper-btn-prev i,
.pswiper-btn-next i{display: flex; align-items: center; justify-content: center;}
.pswiper-btn-next {position: absolute; top: 50%; transform: translate(50%, -50%); z-index: 111; right: 0;}
.product_slider_gallary {width: 50%;}
.fullimg_gallary.swiper { width: 100%; height: 267px; margin-left: auto; margin-right: auto; padding-top: 24px; }
.product_thumb_slider.mySwiper2 { height: 850px; width: 100%; }
.product_thumb_slider.mySwiper { height: 33.33%; box-sizing: border-box; padding: 10px 0; }
.fullimg_gallary.mySwiper .swiper-slide { width: 33.33%; height: 100%; border: 1px solid var(--light-border-color); padding: 24px 0; }
.fullimg_gallary .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }
.product_thumb_slider .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }
.product_thumb_slider .swiper-button-next, 
.product_thumb_slider .swiper-button-prev {color: #222222 !important;background-color: var(--primary-white); width: 44px; border-radius: 50px;}
.product_thumb_slider .swiper-button-next:after,
.product_thumb_slider .swiper-button-prev:after {font-size: 15px !important; font-weight: 700;}
.product_grp {display: flex; }
.product_purchase {width: 50%; padding-left: 64px;}
.product_purchase .product_head {padding-bottom: 58px;}
.product_purchase .product_head h3 {font-size: 44px; color: var(--light-bg-black); line-height: 60px; font-family: 'Manrope'; font-weight: 700;}
.product_purchase .rating_star {display: flex; align-items: center;}
.product_purchase .rating_star .star_grp ul {display: flex;}
.product_purchase .rating_star .star_grp ul li {display: block;}
.product_purchase .rating_star .star_grp ul li:not(:last-child){margin-right: 28px;}
.review_total {margin-left: 28px;}
.review_total span {display: block;  font-size: 20px; color: var(--light-bg-black); line-height: 24px; font-family: 'Manrope'; font-weight: 500;}
.ship_detail {padding-top: 58px; padding-bottom: 44px;}
.ship_detail ul {display: flex; align-items: center;}
.ship_detail ul li {display: flex; align-items: center;}
.ship_detail ul li:not(:last-child){margin-right: 64px;}
.ship_detail ul li i {display: flex;}
.ship_detail ul li span {display: block; font-size: 24px; line-height: 38px; color: var(--light-bg-black);font-family: 'Manrope'; margin-left: 16px;}
.stock_detail {border-top: 1px solid var(--light-border-color); border-bottom: 1px solid var(--light-border-color); padding-top: 44px; padding-bottom: 44px;}
.stock_detail .stock_dtl { position: relative;}
.stock_detail .stock_dtl p {display: block; font-size: 24px; line-height: 38px; color: var(--text-gray);font-family: 'Manrope';}
.stock_detail .stock_dtl p + p{margin-top: 44px;}
.color_select {padding-top: 44px;}
.color_select .color_head {padding-bottom: 24px;}
.color_select .color_head p {font-size: 24px; color: var(--light-bg-black); font-weight: 500; line-height: 38px; font-family: 'Manrope';}
/* .dif_color { display: flex;}
.color_wrap {position: relative;}
.dif_color label + label {margin-right: 24px;}
.dif_color label {display: flex; position: relative; cursor: pointer; }
.dif_color label input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; left: 0; top: 0; width: 100%; height: 100%;}
.dif_color label .checkmark {position: absolute; top: 0; left: 0; height: 64px; width: 64px;
background-color: #000000; border: 1px solid var(--light-border-color); border-radius: 50%;}
.dif_color label:checked ~ .checkmark {
	background-color: #2196F3;
  }

  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .dif_color label input:checked ~ .checkmark:after {
	display: block;
  }

  .dif_color label .checkmark:after {
	
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 25px;
    top: 11px;
    width: 15px;
    height: 30px;
  } */

  .colorBtn { display: flex; gap: 20px; }
  .difBtn { position: relative; }
  .difBtn label { position: relative; display: block; cursor: pointer;}
  .difBtn label [type="radio"] { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; visibility: hidden; }
  .difBtn span { position: relative; display: flex; justify-content: center; align-items: center; width: 64px; height: 64px; border-radius: 50%; }
  .difBtn label [type="radio"]:checked + span::after{   left: 25px; content: ''; position: absolute;
	top: 10px;
	width: 15px;
	height: 35px;
	border: solid #000000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}

.order_sec {padding-top: 44px;}
.order_sec .order_dtl {padding-bottom: 89px;}
.order_sec .order_dtl ul {margin: 0; padding: 0; display: block;}
.order_sec .order_dtl ul li {display: flex; align-items: center;}
.order_sec .order_dtl ul li i {display: inline-flex;}
.order_sec .order_dtl ul li span {font-size: 24px; color: var(--light-bg-black); font-weight: 500; font-family: 'Manrope'; margin-left: 16px; display: block;}
.order_sec .btnbox .primary_btn {display: flex; justify-content: center; align-items: center; padding: 0 10px; height: 58px; border: 2px solid var(--light-orange-btn-border-color); font-family: 'Manrope'; font-weight: 700; font-size: 24px; line-height: 1.58; color: var(--primary-white); transition: all 0.4s ease-in-out; margin-top: auto; background-color: var(--light-orange-background);}
.order_sec .btnbox .primary_btn:hover {background-color: var(--primary-white); color: var(--light-bg-black);}


.gallery_sec {margin: 96px 0;}
.gallery_sec .gallery_grp {position: relative;}
.gallery_sec .gallery_grp .gallery_head {padding-bottom: 64px;}
.gallery_sec .gallery_grp .gallery_head h2 {font-size: 64px; color: var(--light-bg-black); line-height: 70.53px; font-weight: 400; font-family: 'Milky Honey';}
.gallery_sec .gallery_grp .row {row-gap: 26px;}
.gallery_sec .gallery_grp .gallery_img {position: relative; width: 100%; display: flex; padding: 99.78% 0 0 0;}
.gallery_sec .gallery_grp .gallery_img img {width: 100%; height: 100%; object-fit: cover; position: absolute;
left: 0; top: 0;}
/* ======product====== */



            
            
            
            
.footer .ftr_car_image .image_wrap { max-width: 697px; display: flex; }
.footer .ftr_car_image .image_wrap img { width: 100%; height: auto; object-fit: cover; }


.who_section { padding: 0 0 58px 0; background-color: var(--primary-white); }
.who_section .container { max-width: 1730px; }
.who_wrapper { display: flex; align-items: center; justify-content: space-between; }
.who_wrapper .left_part { position: relative; max-width: 800px; width: 100%; display: flex; padding: 52.136% 0 0 0; }
.who_wrapper .left_part img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.who_wrapper .right_part { max-width: 808px; display: block; position: relative; }
.who_wrapper .right_part h2 { font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.10; color: var(--heading-text-color); }
.who_wrapper .right_part p { font-family: 'Manrope'; font-size: 24px; font-weight: 500; line-height: 1.75; color: var(--text-gray); margin-top: 32px; }


.ourvision_section { padding: 96px 0; background-color: var(--light-white-background); }
.vision_wrapper { display: block; position: relative; text-align: center; }
.vision_wrapper .section_title { margin: 0; }
.vision_wrapper .section_title .image_box { display: flex; align-items: center; justify-content: center; margin-bottom: 24px; }
.vision_wrapper .section_title .image_box .img { display: flex; height: 96px; width: 96px; }
.vision_wrapper .section_title .image_box .img img { width: 100%; height: auto; }
.vision_wrapper .section_title .image_box .img + .img { margin-left: 24px; }
.vision_wrapper .section_title h2 { color: var(--heading-text-color); }
.vision_wrapper .section_title p { font-family: 'Manrope'; font-weight: 500; font-size: 24px; line-height: 1.75; color: var(--text-gray); margin-top: 32px; }


.commitment_section { padding: 96px 0; background-color: var(--primary-white); }
.commitment_wrapper { display: flex; justify-content: space-between; align-items: center; }
.commitment_wrapper .left_part { display: block; max-width: 900px; }
.commitment_wrapper .left_part h2 { font-family: 'Milky Honey'; font-weight: 400; font-size: 64px; line-height: 1.10; color: var(--heading-text-color); }
.commitment_wrapper .left_part p { font-family: 'Manrope'; font-size: 24px; font-weight: 500; line-height: 1.75; color: var(--text-gray); margin-top: 32px; }
.commitment_wrapper .right_part { position: relative; max-width: 703px; width: 100%; display: flex; padding: 39.773% 0 0 0; }
.commitment_wrapper .right_part img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }


.about_minimotion { padding: 64px 0 96px 0; }
.about_minimotion_wrapper { display: flex; justify-content: space-between; align-items: center; gap: 20px; }
.about_minimotion_wrapper .left_section { display: block; position: relative; width: 100%; }
.about_minimotion_wrapper .left_section .first_image { background-color: var(--light-blue-bg); padding: 20px; max-width: 382px; transform: rotate(-15deg); position: relative; right: -20%; }
.about_minimotion_wrapper .left_section .first_image .image { position: relative; width: 100%; display: flex; padding: 82.12% 0 0 0; }
.about_minimotion_wrapper .left_section .first_image .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.about_minimotion_wrapper .left_section .second_image { background-color: var(--orange-bg-light); padding: 34px 16px; position: relative; transform: rotate(15deg); max-width: 460px; margin-top: 100px; }
.about_minimotion_wrapper .left_section .second_image .image { position: relative; width: 100%; display: flex; padding: 62.828% 0 0 0; }
.about_minimotion_wrapper .left_section .second_image .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.about_minimotion_wrapper .center_section { display: block; position: relative; }
.about_minimotion_wrapper .center_section .logo_block { display: flex; max-width: 410px; margin: 0 auto; }
.about_minimotion_wrapper .center_section .logo_block img { width: 100%; height: auto; }
.about_minimotion_wrapper .center_section .follow { display: flex; justify-content: center; margin-top: 64px; font-family: 'Milky Honey'; font-size: 64px; font-weight: 400; line-height: 1.10; color: var(--heading-text-color); }
.about_minimotion_wrapper .center_section .btnlink { display: flex; justify-content: center; margin-top: 32px; }
.about_minimotion_wrapper .center_section .btnlink a { display: flex; justify-content: center; align-items: center; height: 156px; padding: 0 94px; border: 1px solid var(--light-pink-border); background-color: var(--light-pink-bg); border-radius: 140px; font-family: 'Oswald'; font-weight: 400; font-size: 64px; line-height: 1.5; color: var(--primary-white); transition: all 0.4s ease-in-out; }
.about_minimotion_wrapper .center_section .btnlink a:hover { background-color: transparent; color: var(--light-pink-text); }
.about_minimotion_wrapper .center_section .social { display: flex; justify-content: center; margin-top: 44px; }
.about_minimotion_wrapper .center_section .social li { display: block; position: relative; }
.about_minimotion_wrapper .center_section .social li + li { margin-left: 64px; }
.about_minimotion_wrapper .center_section .social li a { display: flex; height: 64px; width: 64px; transition: all 0.4s ease-in-out; }
.about_minimotion_wrapper .center_section .social li a img { width: 100%; height: auto; }
.about_minimotion_wrapper .center_section .social li a:hover { opacity: 0.7; }
.about_minimotion_wrapper .right_section { display: block; position: relative; width: 100%; }
.about_minimotion_wrapper .right_section .first_image { background-color: var(--light-blue-bg); padding: 20px; transform: rotate(7deg); position: relative; max-width: 434px; }
.about_minimotion_wrapper .right_section .first_image .image { position: relative; width: 100%; display: flex; padding: 89.342% 0 0 0; }
.about_minimotion_wrapper .right_section .first_image .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.about_minimotion_wrapper .right_section .second_image { background-color: var(--orange-bg-light); padding: 32px 16px; position: relative; transform: rotate(-15deg); max-width: 425px; margin-top: 100px; margin-left: auto; }
.about_minimotion_wrapper .right_section .second_image .image { position: relative; width: 100%; display: flex; padding: 66.42% 0 0 0; }
.about_minimotion_wrapper .right_section .second_image .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }